html
 //font-size: 14pt


body
 font-size: 1em
 font-family: $font-text

//typography

h1

h2

p
 color: $white
 &.intro
  text-align: center
  font-weight: $light
  font-size: 3vw
 b
  font-weight: bold