html
 font-size: 14pt

body
 font-size: 1rem
 font-family: $font-text

//typography

h1

h2

p
 color: $white
 &.intro
  text-align: center
  font-weight: $light
  font-size: 1.8rem
 b
  font-weight: bold